.main-header{
    background-color: #121315 !important;
    position: fixed !important;
    top: 0;
    width: 100%;
    /* height: 100px; */
    z-index: 1;
}
.header-icons{
    background-color: rgb(45, 43, 43) !important;
}
.img-logo{
    display: inline-block !important;
}
.header-icons-part{
    margin-right: 120px;
}
.activelink svg{
    color: rgb(70, 129, 116) !important;
    border-radius: 5%;
}
@media (max-width: 680px){
    .logo-search{
        display: flex;
    }
    .logo-search img{
        height: 40px;
        width: 40px;
        display: none !important;
    }
    .logo-search .search{
        margin-top: 10px;
        width: 200px;
        height: 40px;
    }
    NavLink svg{
        color: black !important;
    }
}
